@font-face {
  font-family: 'LXGW WenKai Lite';
  src: url('/fonts/lxgwwenkai-lite-regular-latin.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0000-00FF,
    U+0100-024F,
    U+2000-206F,
    U+20A0-20CF;
}

@font-face {
  font-family: 'LXGW WenKai Lite';
  src: url('/fonts/lxgwwenkai-lite-regular-cjk.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+3000-303F,
    U+3400-4DBF,
    U+4E00-9FFF,
    U+F900-FAFF,
    U+FF00-FFEF;
}
